# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 1.2
  - 1.3
  - 1.4
  - 1
  - nightly
if: branch = master OR tag IS present OR type = pull_request
notifications:
  email: false
codecov: true
